{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">
    // Tableau avec plus de fonctionnalités (tri, ...)
    /*$(document).ready( function () {
        var table = $('#table_id').DataTable({
            paging: false,
            info: false,
            scrollY: 400,
            scrollCollapse: true,
        });
    } );*/

    function changeContentTable(category)
    {
        if (category == 'Classement')
        {
            document.getElementById("table_id").innerHTML = "<table id='table_id' class='display' style='width:100%'>\
                                                                <thead>\
                                                                    <tr style='color:#FFEF96;'>\
                                                                    {% for column in columnNamesClass %}\
                                                                        <th> {{column}} </th>\
                                                                    {% endfor %}   \
                                                                    </tr>  \
                                                                </thead>\
                                                                <tbody>\
                                                                    {% for partie in partiesClass %}\
                                                                        <tr style='color:#FFEF96;'>\
                                                                        {% for infos in partie %}\
                                                                            <td>{{infos}}</td>\
                                                                        {% endfor %}\
                                                                        </tr>\
                                                                    {% endfor %}\
                                                                </tbody>\
                                                            </table>";
        }

        if (category == 'Historique')
        {
            document.getElementById("table_id").innerHTML = "<table id='table_id' class='display' style='width:100%'>\
                                                                <thead>\
                                                                    <tr style='color:#FFEF96;'>\
                                                                    {% for column in columnNamesHisto %}\
                                                                        <th> {{column}} </th>\
                                                                    {% endfor %}   \
                                                                    </tr>  \
                                                                </thead>\
                                                                <tbody>\
                                                                    {% for partie in partiesHisto %}\
                                                                        <tr style='color:#FFEF96;'>\
                                                                        {% for infos in partie %}\
                                                                            <td>{{infos}}</td>\
                                                                        {% endfor %}\
                                                                        </tr>\
                                                                    {% endfor %}\
                                                                </tbody>\
                                                            </table>";
        }
    }

</script>

<div class="container-fluid vh-100">
    {% if nom != ""%}
        <div class="row m-5 p-5" style="height: 100%; background-color: #50394C; border-radius: 20px; color:#FFEF96">
            <div class="text-left" style="width:100%;">
                <h4 style="font-weight:bold;">Votre dernière partie</h4>
                <h5>Mode : {{mode}}</h5>
                <h5>Difficulté : {{difficulte}} </h5>
                <h5>Score : {{score}}</h5>
            </div>
        </div>
    {% endif %}

    <div class="row m-5 p-5" style="height: 100%; background-color: #50394C; border-radius: 20px;">
        <div class="text-left" style="width:100%;">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="" onclick="changeContentTable('Classement');" style="color:#FFEF96"><h3>Classement</h3></a>
                </li>
                {% if nom != ""%}
                <li class="nav-item">
                  <a class="nav-link" href="" onclick="changeContentTable('Historique');" style="color:#FFEF96"><h3>Historique</h3></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <!-- Affichage du tableau "Classement" par défaut !! -->
    <div class="row justify-content-center m-5 p-5" style="height: 100%; background-color: #50394C; border-radius: 20px;">
        <table id="table_id" class='display' style="width:100%">
            <thead>
                <tr style="color:#FFEF96;">
                {% for column in columnNamesClass %}
                    <th> {{column}} </th>
                {% endfor %}   
                </tr>  
            </thead>
            
            <tbody>
                {% for partie in partiesClass %}
                    <tr style="color:#FFEF96;">
                    {% for infos in partie %}
                        <td>{{infos}}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}