{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid vh-100">
    <div class="row justify-content-center m-5 p-5" style="height: 100%; background-color: white; border-radius: 20px;">
        <div class="text-center" style="width:100%;">
            <h2 style="font-weight:bold;">Comment nous contacter ?</h2>
        </div>
    </div>
    <div class="row justify-content-center m-5 p-5" style="height: 600px; background-color: white; border-radius: 20px;">
        <div class="col col-lg-4 col-md-4 mt-5" style="height:100%;">
            <div class="text-center" style="width:100%;">
                <img class="mx-auto rounded-circle" src="{% static 'css/img/accueil_img.png' %}" style="width:200px; height:200px; "/>
                <h5>Tatiana DEHON</h5>
                <h6>Mail1</h6>
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 mt-5" style="height:100%; ">
            <div class="text-center" style="width:100%;">
                <img class="mx-auto rounded-circle" src="{% static 'css/img/accueil_img.png' %}" style="width:200px; height:200px;"/>
                <h5>Florian MALAISE</h5>
                <h6>Mail2</h6>
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 mt-5" style="height:100%; ">
            <div class="text-center" style="width:100%;">
                <img class="mx-auto rounded-circle" src="{% static 'css/img/accueil_img.png' %}" style="width:200px; height:200px;"/>
                <h5>Olivier-Désiré MUHIMPUNDU</h5>
                <h6>Mail3</h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}