{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/game_style.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/carbon-components@latest/css/carbon-components.css" />
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body class="bx--body p20">

  <div id="container-fluid vh-100">
    
      <video class="input_video" style="display:none;"></video>
      <canvas class="canvas" width="1000px" height="600px" style="transform: scaleX(-1);"></canvas>

    
    <div id="score-label">
      Score: <span id="score-count">0</span>
    </div>
    <div id="timer-label">
      Chrono: <span id="timer">0</span>
    </div>


    <div id="start-btn">
      <span>Play</span>
    </div>
  </div>

  <form class="form-group" method="POST" action="{% url 'updatePartie' %}" style="display: none" id="updatePartie" target="_top">
    {% csrf_token %}
    <input type="hidden" id="idPartie" name="idPartie" value="{{partie}}">
    <input type="hidden" id="score" name="score" value="0">
    <input type="hidden" id="tempsImparti" name="tempsImparti" value="{{tempsImparti}}">
  </form>
  
</body>

</html>







<script type="module">

// ================================================================== BEGIN OF FINGERTIP part

  const videoElement = document.getElementsByClassName('input_video')[0];
  var canvasElement = document.getElementsByClassName('canvas')[0];
  var canvasCtx = canvasElement.getContext('2d');

  var d = null;
  var posTip = [0, 0];
  var score = 0;
  var nbrBallons = 0;
  var initTime = 0;
  var maxTime = {{tempsImparti}};
  var firstframe = true;

  var maxpoints = 0;
  var minspeed = 0;
  var maxspeed = 0;

  var timeElem = document.getElementById('timer');
  var currentTime = 0;

  // 'facile', 'normal', 'difficile'
  var difficulte = '{{difficulte}}'; //règle la vitesse des ballons

  // 'classique', 'explosif'
  var mode = '{{mode}}'; //règle le nombre de ballons

  console.log("DIFFICULTE ",difficulte)
  console.log("MODE ",mode)

  switch(difficulte){
    case 'facile':
      minspeed = 1;
      maxspeed = 3;
      break;
    case 'moyen':
      minspeed = 3;
      maxspeed = 6;
      break;
    case 'difficile':
      minspeed = 7;
      maxspeed = 10;
      break;
    default: //facile
      minspeed = 1;
      maxspeed = 3;
      break;
  }
  switch(mode){
    case 'classique':
      nbrBallons = 5;
      break;
    case 'explosif':
      nbrBallons = 15;
      break;
    default:
      nbrBallons = 5;
      break;
  }
  

function Balloon(){
  this.targetX = getRandomXpos();
  this.speed = getRandomSpeed(minspeed, maxspeed);
  this.touche = false;
  this.velY = 0;

  var colorint = Math.floor(Math.random() * 5);
  //console.log('colorint',colorint);

  if(colorint == 1){ // bleu
    this.color = 'rgba(0,0,255,0.3)';
    this.points = 5;
    this.diametre = 60;
  } 
  else if(colorint == 2){ // vert
    this.color = 'rgba(0,255,0,0.3)';
    this.points = 10;
    this.diametre = 50;
  } 
  else if(colorint == 3){ // jaune
    this.color = 'rgba(255,255,0,0.3)';
    this.points = 15;
    this.diametre = 40;
  } 
  else if(colorint == 4){ // orange
    this.color = 'rgba(255,100,0,0.3)';
    this.points = 20;
    this.diametre = 30;
  } 
  else{ // violet
    this.color = 'rgba(255,0,0,0.3)';
    this.points = 50;
    this.diametre = 15;
  } 

  this.y = canvasElement.height + this.diametre+5;
  this.targetY = -(this.diametre/2 +5);
}


  var arrayBalloons = [];
  for(var j=0 ; j<nbrBallons; j++){
        arrayBalloons[j] = new Balloon();
        maxpoints = maxpoints + arrayBalloons[j].points;
  }
  


  function onResults(results) {
    if(firstframe){
      d = new Date();
      //console.log('initial time', d);
      firstframe = false;
    }
    canvasCtx.save();
    canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
    canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);
    for(var i=0 ; i<arrayBalloons.length; i++){
      var f = new Date();
      //console.log('current time', f);
      arrayBalloons[i].update();
    }
    var restTime = maxTime+1 + Math.floor((d-f)/1000);
    
    if(restTime == 0){

      arrayBalloons.length = 0;
      $("#score").val(score);
      $("#tempsImparti").val(maxTime-restTime);
      document.getElementById("updatePartie").submit();


    }else{
      timeElem.innerHTML = restTime;
    }
    
    if (results.multiHandLandmarks) {
      for (const landmarks of results.multiHandLandmarks) {
        //drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS, {color: '#00FF00', lineWidth: 5});
        //drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});
        posTip[0] = Math.round(landmarks[8].x*canvasElement.width);
        posTip[1] = Math.round(landmarks[8].y*canvasElement.height);
        //updateNote.innerText = 'Index fingertip = ['+posTip[0]+' ; '+posTip[1]+']';
      }
    }
    canvasCtx.restore();
    if(arrayBalloons.length == 0){

      timeElem.innerHTML = 0;
     
    }
    
  }

  const hands = new Hands({locateFile: (file) => {
    return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
  }});
  hands.setOptions({
    maxNumHands: 1,
    modelComplexity: 1,
    minDetectionConfidence: 0.5,
    minTrackingConfidence: 0.5
  });
  hands.onResults(onResults);
  
  const camera = new Camera(videoElement, {
    onFrame: async () => {
      await hands.send({image: videoElement});
    },
    width: canvasElement.width,
    height: canvasElement.height
  });

// ================================================================== END OF FINGERTIP part

 
// ================================================================== BEGIN OF BALLOON part

let startBtn = document.getElementById('start-btn');
var scoreElem = document.getElementById('score-count');

// Démarre la caméra et le jeu
startBtn.onclick = function(){
  startBtn.style.display = "none";
  camera.start();
};

// Donne une valeur d'abscisse aléatoire dans le canvas
function getRandomXpos(){
  return Math.floor(Math.random() * canvasElement.width);
};

// Donne une valeur de vitesse aléatoire entre 2 et 7 pixels par frame
function getRandomSpeed(min, max){
  return Math.random()* (max - min) + min;
};


// Mise à jour de l'image de la bulle sur le canvas
Balloon.prototype.update = function(){
  scoreElem.innerHTML=score;

  if(!this.touche){
    // MAJ des variables déclarées plus haut
    var ty = this.targetY - this.y,
      dist = Math.sqrt(0+ty*ty),
      rad = Math.atan2(ty,0),
      angle = rad/Math.PI * 180;

      this.velY = (ty/dist)*this.speed;

      // Déplacement de la POSITION DE LA BULLE vers le haut
      this.y += this.velY


    // On crée une nouvelle bulle
    canvasCtx.strokeStyle = 'white';
    canvasCtx.fillStyle = this.color;
    canvasCtx.beginPath();
    canvasCtx.arc(this.targetX,this.y,this.diametre,0,Math.PI*2);
    canvasCtx.stroke();
    canvasCtx.fill();
    var absX = Math.round(this.targetX);
    var absY = Math.round(this.y);



    // Si le ballon arrive tout en haut
    if(this.y <= this.targetY){
      this.targetX = getRandomXpos();
  this.speed = getRandomSpeed(minspeed, maxspeed);
  this.touche = false;
  this.velY = 0;

  var colorint = Math.floor(Math.random() * 5);
  //console.log('colorint',colorint);

  if(colorint == 1){ // bleu
    this.color = 'rgba(0,0,255,0.3)';
    this.points = 5;
    this.diametre = 60;
  } 
  else if(colorint == 2){ // vert
    this.color = 'rgba(0,255,0,0.3)';
    this.points = 10;
    this.diametre = 50;
  } 
  else if(colorint == 3){ // jaune
    this.color = 'rgba(255,255,0,0.3)';
    this.points = 15;
    this.diametre = 40;
  } 
  else if(colorint == 4){ // orange
    this.color = 'rgba(255,100,0,0.3)';
    this.points = 20;
    this.diametre = 30;
  } 
  else{ // violet
    this.color = 'rgba(255,0,0,0.3)';
    this.points = 50;
    this.diametre = 15;
  } 
  this.y = canvasElement.height + this.diametre+5;
  this.targetY = -(this.diametre/2 +5);

  maxpoints = maxpoints + this.points;
  //console.log('maxpoints', maxpoints);
      // On dit qu'il est arrivé donc il disparaît
    }

    // Si le ballon est éclaté par le doigt
    else if(Math.abs(absX-posTip[0])<this.diametre/2 + 5 && Math.abs(absY-posTip[1])<this.diametre/2+5){
      // On dit qu'il est arrivé donc il disparaît
      this.y = this.targetY;
      // Pour sortir de la condition "non-touché"
      this.touche = true;
      // On augmente le score
      score = score + this.points ;
    }

    /*Si le ballon est toujours en cours de route
    else{
      updateNote.innerText = 'Index fingertip = ['+posTip[0]+' ; '+posTip[1]+'] and balloon = ['+ absX +' ; '+absY+']';
    }*/
  }else{
    this.targetX = getRandomXpos();
  this.speed = getRandomSpeed(minspeed, maxspeed);
  this.touche = false;
  this.velY = 0;

  var colorint = Math.floor(Math.random() * 5);
  //console.log('colorint',colorint);

  if(colorint == 1){ // bleu
    this.color = 'rgba(0,0,255,0.3)';
    this.points = 5;
    this.diametre = 60;
  } 
  else if(colorint == 2){ // vert
    this.color = 'rgba(0,255,0,0.3)';
    this.points = 10;
    this.diametre = 50;
  } 
  else if(colorint == 3){ // jaune
    this.color = 'rgba(255,255,0,0.3)';
    this.points = 15;
    this.diametre = 40;
  } 
  else if(colorint == 4){ // orange
    this.color = 'rgba(255,100,0,0.3)';
    this.points = 20;
    this.diametre = 30;
  } 
  else{ // violet
    this.color = 'rgba(255,0,0,0.3)';
    this.points = 50;
    this.diametre = 15;
  } 

  this.y = canvasElement.height + this.diametre+5;
  this.targetY = -(this.diametre/2 +5);

  maxpoints = maxpoints + this.points;
  //console.log('maxpoints', maxpoints);
  }

};

// ================================================================== END OF BALLOON part

</script>
