<html>
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Live video stream </title>

  </head>
  <body>
  <!--
  <center>
    <h1> Live Video Stream </h1>
    <img id="img" src = "{% url 'video_stream' %}">
  </center>
  -->

  <div>This screen is a mouse tracker</div>
  <script src="{% static 'js/scriptmouse.js' %}"></script>

  </body>
</html>