{% extends 'base.html' %}
{% block content %}
<div class="container-fluid vh-100">
    <div class="row justify-content-center m-5 p-5" style="height: 100%; background-color: white; border-radius: 20px;">
        <div class="col">
            <h2 class="text-center" style="font-weight: bold;"> Inscription </h2>
            <form method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <!--
                <div class="form-group">
                    <label for="InputPrenom">Prénom</label>
                    <input class="form-control" id="InputPrenom" type="text" placeholder="Entrez votre prénom">
                    
                </div>
                <div class="form-group">
                    <label for="InputNom">Nom</label>
                    <input class="form-control" id="InputNom" type="text" placeholder="Entrez votre nom">
                    
                </div>
                <div class="form-group">
                    <label for="InputEmail">Adresse mail</label>
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Entrez votre adresse mail">
                  
                </div>

                <div class="form-group">
                    <label for="Pays">Pays</label>
                    <select type="pays" class="form-control" id="InputPays">
                        <option>Belgique</option>
                        <option>France</option>
                        <option>Suisse</option>
                        <option>Etats-Unis</option>
                        <option>Luxembourg</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="InputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="InputPassword1" placeholder="Mot de passe">
                </div>

                <div class="form-group">
                    <label for="InputPassword2">Confirmation du mot de passe</label>
                    <input type="password" class="form-control" id="InputPassword2" >
                </div>
                -->

                <div class="text-center mt-5">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit" style="border-radius: 20px; background-color:#FFEF96;"><h5 style="color:#50394C">S'inscrire</h5></button>
                </div>

            </form>
            <div class="text-center mt-5">
                <h5>Déjà un compte ?</h5>
                <a href="{% url 'connexion' %}"><h5 style="font-weight: bold; color:black">Se connecter</h5></a>
            </div>

        </div>
    </div>
</div>
{% endblock %}